@model Education_Service.tblEnquiry
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<script>
    $(document).ready(function () {
    
        LoadData();    

    });

    function LoadData() {
        $.ajax
            ({
                "url": "/API/GetAllData",
                "method": "GET",
                success: function (resp) {
                    console.log(resp);
                    if (resp.Code == 0) {
                        $('#EnquiryTable').empty();

                        $.each(resp.Message, function (index, item) {
                            console.log(resp.Message)
                            $('#EnquiryTable').append("<tr><td>" + item.id + "</td><td>" + item.Name + "</td><td>" + item.EmailId + "</td><td>" + item.MobileNo + "</td><td>" + item.InterestedIn + "</td><td><button onclick='Add(" + item.id + ")'>Add</button></td></tr>");
                        })
                    }
                },
                error: function (resp) {
                    console.log(resp)
                }
            })
    }



</script>



<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            Dashboard
        </h3>
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-danger card-img-holder text-white">
                <div class="card-body">
                    <img src="/AdminContent/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
                    <h4 class="font-weight-normal mb-3">
                        Total Course <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">Rs      15,0000</h2>
                    <h6 class="card-text">Increased by 60%</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                    <img src="/AdminContent/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
                    <h4 class="font-weight-normal mb-3">
                        Total Videos <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">45,6334</h2>
                    <h6 class="card-text">Decreased by 10%</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">
                    <img src="/AdminContent/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
                    <h4 class="font-weight-normal mb-3">
                        Total Student <i class="mdi mdi-diamond mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">95,5741</h2>
                    <h6 class="card-text">Increased by 5%</h6>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1 class="page-title ">Equired data</h1>
        <div class="container">
            <div class="col-12">
                <button class="btn btn-danger" id="btnRefresh">Refresh</button>
                
            </div>
            <table id="categoryTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>EmailId</th>
                        <th>MobileNo</th>
                        <th>InterestedIn</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="EnquiryTable">
                </tbody>
            </table>
        </div>
    </div>
</div>
