
@{
    ViewBag.Title = "jay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>jay</h2>
vksdcvbiskdcvnkdcn slkdcnlskdnclksdnclksdncl;
cs
c.sl;mcsd
csd
csd
csdcsd
csd
csd
c
sdc
sdcsdc
sd
cs
c
s
c
sd
