<!--====== PRELOADER PART START ======-->

<div class="preloader">
    <div class="loader rubix-cube">
        <div class="layer layer-1"></div>
        <div class="layer layer-2"></div>
        <div class="layer layer-3 color-1"></div>
        <div class="layer layer-4"></div>
        <div class="layer layer-5"></div>
        <div class="layer layer-6"></div>
        <div class="layer layer-7"></div>
        <div class="layer layer-8"></div>
    </div>
</div>

<!--====== PRELOADER PART START ======-->
<!--====== HEADER PART START ======-->



<div class="navigation">
    <div class="container">
        <div class="row">

            <div class="col-lg-11 col-md-11 col-sm-10 col-9">
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                        <div class="logo">
                            <a href="index-2.html">
                                
                                <img src="~/images/techadlogo4.png" alt="Logo" width="250px">
                            </a>
                        </div>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="active" href="/Home/index">Home</a>

                            </li>
                            <li class="nav-item">
                                <a href="/About/index">About us</a>
                            </li>
                            <li class="nav-item">
                                <a href="/MyCourseUser/MyCourse">My course<button class="sub-nav-toggler"> <i class="fa fa-chevron-down"></i> </button></a>
                                <ul class="sub-menu">
                                    <li><a href="/userprofie/profile">User profile</a></li>
                                    <li><a href="contact-2.html">Payment history</a></li>
                                    <li><a href="contact-2.html">Anouncement</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="/CourseUser/index">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a href="/TestimonialUser/Index">Testimonial</a>

                            </li>
                            <li class="nav-item">
                                <a href="/PlacementUser/index">Placements</a>

                            </li>
                            <li class="nav-item">
                                <a href="/Contact/Index">Contact</a>
                            </li>

                        </ul>
                    </div>
                    
                </nav> <!-- nav -->
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-4 mt-2">
                <div class="right-icon text-right">
                    <div class="button float-left">
                        <a href="/LoginUser/Login" class="main-btn">Login</a>
                    </div>
                </div> <!-- right icon -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>


