<!--====== PRELOADER PART START ======-->

<div class="preloader">
    <div class="loader rubix-cube">
        <div class="layer layer-1"></div>
        <div class="layer layer-2"></div>
        <div class="layer layer-3 color-1"></div>
        <div class="layer layer-4"></div>
        <div class="layer layer-5"></div>
        <div class="layer layer-6"></div>
        <div class="layer layer-7"></div>
        <div class="layer layer-8"></div>
    </div>
</div>

<!--====== PRELOADER PART START ======-->
<!--====== HEADER PART START ======-->



<div class="navigation">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                        <div class="logo">
                            <a href="index-2.html">
                                
                                <img src="~/images/techadlogo3.png" alt="Logo" width="150px">
                            </a>
                        </div>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="active" href="/Home/index">Home</a>

                            </li>
                            <li class="nav-item">
                                <a href="/About/index">About us</a>
                            </li>
                            <li class="nav-item">
                                <a href="/CourseUser/index">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a href="/TestimonialUser/Index">Testimonial</a>

                            </li>
                            <li class="nav-item">
                                <a href="/PlacementUser/index">Placements</a>

                            </li>
                            <li class="nav-item">
                                <a href="/Contact/Index">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="button float-left">
                        <a href="/LoginUser/Login" class="main-btn">Login</a>
                    </div>
                </nav> <!-- nav -->
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-4">
                <div class="right-icon text-right">
                    <ul>
                        <li><a href="#" id="search"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i><span>0</span></a></li>
                    </ul>
                </div> <!-- right icon -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>

</header>
