
@model IEnumerable<Education_Service.tblClassCourse>

@{
    ViewBag.Title = "All Course";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>AllCourse</h2>
@*Header code*@
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-home"></i>
            </span>
        </h3>

        <a href="/AdminCourse/Addcourse" class="btn btn-block btn-lg btn-gradient-primary mt-4y"> Add new course</a>
        @*<button class="btn btn-block btn-lg btn-gradient-primary mt-4"><i href=""></i> </button>*@

    </div>

</div>

    <br />
    <div class="row">

        @*1th card*@
        @foreach (var item in (List<tblClassCourse>)ViewBag.Allcourse)
        {
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">

                    <div class="card-body">
                        <a href="@Url.Action("Index", "AdminVideo", new { courseId = item.id })">
                                                  
                            @if (item.CourseImage != null)
                            {
                                <img src="~/UploadedCourseImg/@item.CourseImage" width="380px" />
                                

                            }

                        <br />
                        <br />                       
                            <h2 class="card-title">@Html.DisplayFor(modelItem => item.CourseName)</h2>

                            @if (item.CourseStatus.ToString() == "True")
                            {
                                <span class="badge btn-success">Active</span>
                            }
                            else
                            {
                                <span class="badge btn-danger">Deactive</span>
                            }
                            <ul class="list-ticked">
                                <li class="container-fluid">
                                    @Html.DisplayFor(modelItem => item.CourseDiscription)
                                </li>

                            </ul>
                        </a>
                        <div class="text-right">
                            <div class="text-left">

                            </div>

                            @Html.ActionLink("Edit", "AddCourse", new { id = item.id }, new { @class = "btn btn-primary" })
                        </div>

                    </div>
                </div>
            </div>


        }
    </div>

</div>
